/* <div class="card-box"> html */


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 30px;
    z-index: 9999;
}

a:visited {
    color: black;
  }

.logo{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 900;

}

nav{
  position: absolute;
  top: 10px;
  right: 100px;
  padding: 20px;}

nav ul{
    font-size: 0;
}

nav li{
    font-size: 18px;
    display: inline-block;
    margin-left: 30px;
    opacity: 0.7;
    
}

nav li a{
    color: #222;
    text-decoration: none;
}

li.active{
    opacity: 1;
    border-bottom: 2px solid #545454;
    padding: 5px;
}

main{
    padding: 50px 0 100px 0;
    height: 200px;
}


.container{
    text-align: center;
    margin-top: 200px;
}


/* #card-pick{
    transform: scale();
} */
.card-box{
    position: relative;
    border-radius: 8px;
    /* 밑에 이해 잘 안됌 */
    overflow: hidden; 
    display: inline-block;
    margin: 10px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
    transition: 0.5s;
}
.card-box:hover{
    transform: scale(0.95);
}

.img-gradient{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0), 
    rgba(0,0,0,1));
    z-index: 1;
}

.text-wrap{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
    text-align: left;
}

.text-wrap h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
}

.text-wrap p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
}

.play-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 24px;
    top: 24px;
    background: violet url(./icon-play.png)
    no-repeat center;
    background-size: 24px;
    z-index: 2;
    border-radius: 50%;
}

.img-wrap{
    position: relative;
    /* border: 5px solid red; */
}

.img-2{
    position: absolute;
    left: -10px;
    top: 0px;
    /* border: 1px solid red; */
}

#text{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
    opacity: 0.5;
    color: red;
    position: relative;
    top: 0px;
    z-index: 99;
}

#NIGHT_mode{
    width: 120px;
    height: 20px;
    background-color: rgb(159, 233, 255);
    color: rgb(0, 0, 0);
    border: solid 1px rgb(93, 174, 199); 
    box-shadow: 0 4px 16px rgba(93, 144, 255, 0.3);
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
#NIGHT_mode:focus{
    outline: 0;
}

#NIGHT_mode:hover{
    background-color: rgba(47, 189, 255, 0.95);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(50, 197, 255, 0.6); 
}


